<div class="container">
    <%if @game.hands.size%2 != 0%>
        <h3 class="game-anounce">Esta é a carta que você vai jogar nesta mão <%=@player1.nome%>.</h3> <h3 class="game-anounce">Escolha a característica que você quer comparar:</h3>
        <br>
        <form action="/resultorg/<%=@hand.id%>">
            <div class="card card-basic w25 h98 f10">
                <div class="card=code f8"><%=@card.identificacao%></div>
                <img height="90px" class="logo" src="<%=@card.logo%>">
                <br>
                <p class="name-row f12"><%=@card.nome%></p>
                <p class="cd-row grow just"><input style="height:10px" type="radio" id="numero_de_servicos" name="caracteristica" value="numero_de_servicos" checked> <label for="numero_de_servicos">Número de Serviços: <%=@card.cards.size%></label></p>
                <p class="cd-row yrow just"><input style="height:10px" type="radio" id="total_de_avaliacoes" name="caracteristica" value="total_de_avaliacoes" checked> <label for="total_de_avaliacoes">Total de avaliações: <%=nmb_form(@card.avaliacoes.nil? ? 0: @card.avaliacoes)%></label></p>
                <p class="cd-row grow just"><input style="height:10px" type="radio" id="aprovacao_do_servico" name="caracteristica" value="aprovacao_do_servico"> <label for="aprovacao_do_servico">Aprovação Média do Órgão: <%=@card.aprovacao.nil? ? "0%" : percent(@card.aprovacao)%></label></p>
                <p class="cd-row yrow just"><input style="height:10px" type="radio" id="quantidade_de_etapas" name="caracteristica" value="quantidade_de_etapas"> <label for="quantidade_de_etapas">Média de etapas por serviço: <%=@card.media_etapas.round(2).to_s.gsub(".",",")%></label></p>
                <p class="cd-row grow just"><input style="height:10px" type="radio" id="indice_de_digitalizacao" name="caracteristica" value="indice_de_digitalizacao"> <label for="indice_de_digitalizacao">Índice de digitalização: <%=@card.digitalizacao.round(2).to_s.gsub(".",",")%>%</label></p>
                <p class="cd-row yrow just"><input style="height:10px" type="radio" id="botao_iniciar" name="caracteristica" value="botao_iniciar"> <label for="botao_iniciar">% de Serviços com Botão Iniciar: <%=percent(@card.porc_botao_iniciar)%></label></p>
                <p class="cd-row grow just"><input style="height:10px" type="radio" id="tempo_de_espera" name="caracteristica" value="tempo_de_espera"> <label for="tempo_de_espera">Média de dias de espera: <%=@card.media_duracao.round(2).to_s.gsub(".",",")%></label></p>
                <p class="cd-row yrow just"><input style="height:10px" type="radio" id="nao_estimado" name="caracteristica" value="nao_estimado"> <label for="nao_estimado">Serviços sem Duração Estimada: <%=@card.qtd_nao_estimados%></label></p>              
            </div>
            <br>
            <div class="centered"><input class="btn btn-sc" type="submit" value="Escolher"></div>
            <br>
        </form>
    <%else%>
        <h3 class="game-anounce">Esta é a carta que você vai jogar nesta mão <%=@player1.nome%>.</h3>
        <%if @compchar == "total_de_avaliacoes"%>
            <h3 class="game-anounce">A característica escolhida pelo seu oponente foi "Total de Avaliações".</h3>
        <%elsif @compchar == "numero_de_servicos"%>
            <h3 class="game-anounce">A característica escolhida pelo seu oponente foi "Número de Serviços".</h3>
        <%elsif @compchar == "aprovacao_do_servico"%>
            <h3 class="game-anounce">A característica escolhida pelo seu oponente foi "Aprovação Média do Órgão".</h3>
        <%elsif @compchar == "quantidade_de_etapas"%>
            <h3 class="game-anounce">A característica escolhida pelo seu oponente foi "Média de Etapas por Serviço".</h3>
        <%elsif @compchar == "indice_de_digitalizacao"%>
            <h3 class="game-anounce">A característica escolhida pelo seu oponente foi "Índice de Digitalização".</h3>
        <%elsif @compchar == "botao_iniciar"%>
            <h3 class="game-anounce">A característica escolhida pelo seu oponente foi "Porcentagem de Serviços com Botão Iniciar".</h3>
        <%elsif @compchar == "nao_estimado"%>
            <h3 class="game-anounce">A característica escolhida pelo seu oponente foi "Nº de serviços sem duração estimada".</h3>
        <%else%>
            <h3 class="game-anounce">A característica escolhida pelo seu oponente foi "Média de dias que dura o serviço".</h3>
        <%end%>
        <br>
        <div class="card card-basic w25 h98 f10">
            <div class="card=code f8"><%=@card.identificacao%></div>
            <img height="90px" class="logo" src="<%=@card.logo%>">
            <br>
            <p class="name-row f12"><%=@card.nome%></p>
            <p class="cd-row grow">Número de Serviços: <%=@card.cards.size%></p>
            <p class="cd-row yrow">Total de avaliações: <%=nmb_form(@card.avaliacoes.nil? ? 0: @card.avaliacoes)%></p>
            <p class="cd-row grow">Aprovação Média do Órgão: <%=@card.aprovacao.nil? ? "0%" : percent(@card.aprovacao)%></p>
            <p class="cd-row yrow">Média de etapas por serviço: <%=@card.media_etapas.round(2).to_s.gsub(".",",")%></p>
            <p class="cd-row grow">Índice de digitalização: <%=@card.digitalizacao.round(2).to_s.gsub(".",",")%>%</p>
            <p class="cd-row yrow">% de Serviços com Botão Iniciar: <%=percent(@card.porc_botao_iniciar)%></p>
            <p class="cd-row grow">Média de dias de espera: <%=@card.media_duracao.round(2).to_s.gsub(".",",")%></p>
            <p class="cd-row yrow">Serviços sem Duração Estimada: <%=@card.qtd_nao_estimados%></p>
        </div>
        <br>
        <div class="centered"><a class="btn btn-sc" href="/resultorg/<%=@hand.id%>?caracteristica=<%=@compchar%>">Ver Resultado</a></div>
        <br>
    <%end%>
</div>