<div class="container">
<br>
    <div class="row">
        <div class="col-sm-4 auto">
            <div class="centered font12 w100">
                <div class=" control-box">
                    <h6>Escolha a <span>carta de serviço</span> que você quer visualizar:</h6>
                    <br>
                    <form action="/intermedium">
                        <div>
                            <select class="w80" name="card" id="cards">
                                <option value="" disabled selected hidden>Escolha uma carta</option>
                                <%@cards.sort_by{|card| card.identificacao}.each do |c|%>
                                    <option class="f8" value="<%=c.id%>"><%=c.identificacao%> - <%=c.nome%></option>
                                <%end%>
                            </select>
                        </div>
                        <br>
                        <div>
                            <input class="btn btn-sc font14" type="submit" value="Escolher">
                        </div>
                    </form>
                </div>
                <div style="font-size:50px;text-align:center;color:white;text-shadow: 1px 1px 1px darkgreen">OU</div>
                <div class=" control-box">
                    <h6>Escolha a <span>carta de órgão</span> que você quer visualizar:</h6>
                    <br>
                    <form action="/intermedium">
                        <div>
                            <select class="w80" name="deck" id="cardorgs">
                                <option value="" disabled selected hidden>Escolha uma carta</option>
                                <%@cardorgs.sort_by{|card| card.nome}.each do |c|%>
                                    <option class="f8" value="<%=c.identificacao%>"><%=c.nome%></option>
                                <%end%>
                            </select>
                        </div>
                        <br>
                        <div>
                            <input class="btn btn-sc font14" type="submit" value="Escolher">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-8 h100">
            <%if params[:id].nil?%>
                <div></div>
            <%elsif params[:id].include?("SIORG")%>
                <div class="card-basic card w40">
                    <div class="card-code f7"><%=@card.identificacao%></div>
                    <img class="logo" height="100px"; src="<%=@card.logo%>">
                    <br>
                    <p class="name-row f14"><%=@card.nome%></p>
                    <p class="cd-row grow f10">Nº de Serviços: <%=@card.cards.size%></p>
                    <p class="cd-row yrow f10">Total de avaliações: <%=nmb_form(@card.avaliacoes.nil? ? 0: @card.avaliacoes)%></p>
                    <p class="cd-row grow f10">Aprovação Média do Órgão: <%=@card.aprovacao.nil? ? "0%" : percent(@card.aprovacao)%></p>
                    <p class="cd-row yrow f10">Média de etapas por serviço: <%=@card.media_etapas.round(2).to_s.gsub(".",",")%></p>
                    <p class="cd-row grow f10">Índice de digitalização: <%=@card.digitalizacao.round(2).to_s.gsub(".",",")%>%</p>
                    <p class="cd-row yrow f10">% de serviços com botão iniciar? <%=percent(@card.porc_botao_iniciar)%></p>
                    <p class="cd-row grow f10">Média de dias de espera: <%=@card.media_duracao.round(2).to_s.gsub(".",",")%></p>
                    <p class="cd-row yrow f10">Nº de serviços sem duração estimada: <%=@card.qtd_nao_estimados%></p>
                </div>
            <%else%>
                <div class="card-basic card w40">
                    <div class="card-code f7"><%=@card.identificacao%></div>
                    <img class="logo" height="110px"; src="<%=@card.deck.logo%>">
                    <br>
                    <p class="name-row f14"><%=@card.nome%></p>
                    <p class="cd-row grow f11">Total de avaliações: <%=nmb_form(@card.avaliacoes.nil? ? 0: @card.avaliacoes)%></p>
                    <p class="cd-row yrow f11">Aprovação do serviço: <%=@card.aprovacao.nil? ? "0%" : percent(@card.aprovacao)%></p>
                    <p class="cd-row grow f11">Quantidade de etapas: <%=@card.etapas%></p>
                    <p class="cd-row yrow f11">Índice de digitalização: <%=@card.digitalizacao%>%</p>
                    <p class="cd-row grow f11">Tem botão iniciar? <%=@card.botao_iniciar == true ? "Sim" : "Não"%></p>
                    <p class="cd-row yrow f11">Tempo de espera (dias): <%=@card.duracao == 999999999 ? "Não estimado" : @card.duracao == 0 ? "Imediato" : nmb_form(@card.duracao)%></p>
                </div>
            <%end%>
        </div>
    </div>
    <br>
    <br>
</div>